{
  "root": false,

  "env": {
    "browser": true
  },

  "parserOptions": {
    "project": ["./tsconfig.json"]
  },

  "extends": [
    "airbnb-typescript/base",
    "plugin:vue/vue3-recommended",
    "@vue/typescript/recommended",
    "prettier",
    "prettier/prettier"
  ],

  "rules": {
    "func-names": 0,
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true,
        "allowTernary": false,
        "allowTaggedTemplates": false
      }
    ],
    "prefer-destructuring": ["error", { "array": false }],

    "import/extensions": "off",
    "import/no-unresolved": "off",

    "vue/component-name-in-template-casing": ["error", "kebab-case"],

    "@typescript-eslint/explicit-function-return-type": "error"
  }
}
