# compiled output
/dist
/dist-ssr
/node_modules
/docs/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
/docs/yarn.lock

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.local

# VuePress files
/docs/.vuepress/.temp/
/docs/.vuepress/.cache/
/docs/.vuepress/dist/
