{
  "extends": ["stylelint-config-prettier"],
  "plugins": ["stylelint-order"],
  "rules": {
    "color-hex-length": "short",
    "color-named": "never",
    "font-weight-notation": "numeric",
    "function-url-quotes": ["always", { "except": ["empty"] }],
    "length-zero-no-unit": true,
    "rule-empty-line-before": [
      "always-multi-line",
      { "ignore": ["after-comment", "first-nested"] }
    ],
    "selector-pseudo-element-colon-notation": "double",
    "order/properties-order": [
      "content",
      "position",
      "top",
      "right",
      "bottom",
      "left",
      "z-index",
      "display",
      "flex",
      "flex-grow",
      "flex-shrink",
      "flex-basis",
      "flex-flow",
      "flex-direction",
      "flex-wrap",
      "justify-content",
      "align-content",
      "align-items",
      "order",
      "align-self",
      "float",
      "clear",
      "box-sizing",
      "width",
      "min-width",
      "max-width",
      "height",
      "min-height",
      "max-height",
      "margin",
      "margin-top",
      "margin-right",
      "margin-bottom",
      "margin-left",
      "padding",
      "padding-top",
      "padding-right",
      "padding-bottom",
      "padding-left",
      "overflow",
      "overflow-x",
      "overflow-y",
      "list-style",
      "list-style-position",
      "list-style-type",
      "list-style-image",
      "border-collapse",
      "border-spacing",
      "table-layout",
      "empty-cells",
      "caption-side",
      "font",
      "font-style",
      "font-variant",
      "font-weight",
      "font-size",
      "line-height",
      "font-family",
      "vertical-align",
      "text-align",
      "direction",
      "color",
      "text-transform",
      "text-decoration",
      "font-size-adjust",
      "font-stretch",
      "font-effect",
      "font-emphasize",
      "font-emphasize-position",
      "font-emphasize-style",
      "font-smooth",
      "text-align-last",
      "letter-spacing",
      "word-spacing",
      "white-space",
      "text-emphasis",
      "text-emphasis-color",
      "text-emphasis-style",
      "text-emphasis-position",
      "text-indent",
      "text-justify",
      "-ms-writing-mode",
      "text-outline",
      "text-wrap",
      "text-overflow",
      "text-overflow-ellipsis",
      "text-overflow-mode",
      "text-orientation",
      "word-wrap",
      "word-break",
      "tab-size",
      "hyphens",
      "unicode-bidi",
      "columns",
      "column-count",
      "column-fill",
      "column-gap",
      "column-rule",
      "column-rule-color",
      "column-rule-style",
      "column-rule-width",
      "column-span",
      "column-width",
      "text-shadow",
      "page-break-after",
      "page-break-before",
      "page-break-inside",
      "background",
      "background-color",
      "background-image",
      "linear-gradient",
      "background-repeat",
      "background-position",
      "background-position-x",
      "background-position-y",
      "background-size",
      "background-clip",
      "background-origin",
      "background-attachment",
      "box-decoration-break",
      "background-blend-mode",
      "border",
      "border-width",
      "border-style",
      "border-color",
      "border-top",
      "border-top-width",
      "border-top-style",
      "border-top-color",
      "border-right",
      "border-right-width",
      "border-right-style",
      "border-right-color",
      "border-bottom",
      "border-bottom-width",
      "border-bottom-style",
      "border-bottom-color",
      "border-left",
      "border-left-width",
      "border-left-style",
      "border-left-color",
      "border-radius",
      "border-top-left-radius",
      "border-top-right-radius",
      "border-bottom-right-radius",
      "border-bottom-left-radius",
      "border-image",
      "border-image-source",
      "border-image-slice",
      "border-image-width",
      "border-image-outset",
      "border-image-repeat",
      "outline",
      "outline-width",
      "outline-style",
      "outline-color",
      "outline-offset",
      "box-shadow",
      "transform",
      "transform-origin",
      "backface-visibility",
      "perspective",
      "perspective-origin",
      "transform-style",
      "visibility",
      "cursor",
      "opacity",
      "filter",
      "transition",
      "transition-delay",
      "transition-timing-function",
      "transition-duration",
      "transition-property",
      "animation",
      "animation-name",
      "animation-duration",
      "animation-play-state",
      "animation-timing-function",
      "animation-delay",
      "animation-iteration-count",
      "animation-direction",
      "quotes",
      "counter-reset",
      "counter-increment",
      "resize",
      "user-select",
      "nav-index",
      "nav-up",
      "nav-right",
      "nav-down",
      "nav-left",
      "pointer-events",
      "will-change",
      "clip",
      "clip-path",
      "zoom"
    ]
  }
}
