$--base-path: '..' !default;

@font-face {
  font-family: qicon;
  font-style: normal;
  font-weight: 400;
  src: url('#{$--base-path}/icons/qicon.woff?06092021') format('woff');
  font-display: block;
}

[class^='q-icon-'],
[class*=' q-icon-'] {
  display: inline-block;

  // use !important to prevent issues with browser extensions that change fonts
  // stylelint-disable-next-line font-family-no-missing-generic-family-keyword
  font-family: qicon !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  letter-spacing: 0;
  vertical-align: baseline;
  speak: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.q-icon-y-4::before {
  content: '\e900';
}

.q-icon-y-3::before {
  content: '\e901';
}

.q-icon-y-2::before {
  content: '\e902';
}

.q-icon-y-1::before {
  content: '\e903';
}

.q-icon-withdraw-fill::before {
  content: '\e904';
}

.q-icon-wifi::before {
  content: '\e905';
}

.q-icon-wallet::before {
  content: '\e906';
}

.q-icon-wallet-stroke::before {
  content: '\e907';
}

.q-icon-view-list::before {
  content: '\e908';
}

.q-icon-triangle-up::before {
  content: '\e909';
}

.q-icon-triangle-right::before {
  content: '\e90a';
}

.q-icon-triangle-left::before {
  content: '\e90b';
}

.q-icon-triangle-down::before {
  content: '\e90c';
}

.q-icon-trash-bin::before {
  content: '\e90d';
}

.q-icon-trash-bin-stroke::before {
  content: '\e90e';
}

.q-icon-target::before {
  content: '\e90f';
}

.q-icon-stop-2::before {
  content: '\e910';
}

.q-icon-stop-1::before {
  content: '\e911';
}

.q-icon-star::before {
  content: '\e912';
}

.q-icon-star-fill::before {
  content: '\e913';
}

.q-icon-settings-vertical::before {
  content: '\e914';
}

.q-icon-settings-horizontal::before {
  content: '\e915';
}

.q-icon-search::before {
  content: '\e916';
}

.q-icon-save::before {
  content: '\e917';
}

.q-icon-rubles::before {
  content: '\e918';
}

.q-icon-rubles-circle::before {
  content: '\e919';
}

.q-icon-router::before {
  content: '\e91a';
}

.q-icon-router-arrow-down::before {
  content: '\e91b';
}

.q-icon-reverse::before {
  content: '\e91c';
}

.q-icon-question::before {
  content: '\e91d';
}

.q-icon-question-mark::before {
  content: '\e91e';
}

.q-icon-proceed-2::before {
  content: '\e91f';
}

.q-icon-proceed-1::before {
  content: '\e920';
}

.q-icon-plus::before {
  content: '\e921';
}

.q-icon-play::before {
  content: '\e922';
}

.q-icon-piggy-bank-fill::before {
  content: '\e923';
}

.q-icon-pic::before {
  content: '\e924';
}

.q-icon-phone-settings-stroke::before {
  content: '\e925';
}

.q-icon-percent::before {
  content: '\e926';
}

.q-icon-pencil-square-stroke::before {
  content: '\e927';
}

.q-icon-pencil-list::before {
  content: '\e928';
}

.q-icon-pause::before {
  content: '\e929';
}

.q-icon-multiply-fill::before {
  content: '\e92a';
}

.q-icon-minus::before {
  content: '\e92b';
}

.q-icon-menu::before {
  content: '\e92c';
}

.q-icon-menu-2-fill::before {
  content: '\e92d';
}

.q-icon-logout::before {
  content: '\e92e';
}

.q-icon-login::before {
  content: '\e92f';
}

.q-icon-lock::before {
  content: '\e930';
}

.q-icon-lock-fill::before {
  content: '\e931';
}

.q-icon-key::before {
  content: '\e932';
}

.q-icon-info::before {
  content: '\e933';
}

.q-icon-info-stroke::before {
  content: '\e934';
}

.q-icon-info-fill::before {
  content: '\e935';
}

.q-icon-house-stroke::before {
  content: '\e936';
}

.q-icon-graph-gisto::before {
  content: '\e937';
}

.q-icon-finish-fill::before {
  content: '\e938';
}

.q-icon-filter-stroke::before {
  content: '\e939';
}

.q-icon-filter-fill::before {
  content: '\e93a';
}

.q-icon-file::before {
  content: '\e93b';
}

.q-icon-eye::before {
  content: '\e93c';
}

.q-icon-eye-fill::before {
  content: '\e93d';
}

.q-icon-eye-close::before {
  content: '\e93e';
}

.q-icon-envelope-edit::before {
  content: '\e93f';
}

.q-icon-earth::before {
  content: '\e940';
}

.q-icon-drag-linear::before {
  content: '\e941';
}

.q-icon-drag-vertical-fill::before {
  content: '\e942';
}

.q-icon-double-triangle-right::before {
  content: '\e943';
}

.q-icon-double-triangle-left::before {
  content: '\e944';
}

.q-icon-dots-3-horizontal::before {
  content: '\e945';
}

.q-icon-diagram-round::before {
  content: '\e946';
}

.q-icon-diagram-round-stroke::before {
  content: '\e947';
}

.q-icon-database-arrow-left-fill::before {
  content: '\e969';
}

.q-icon-database-arrow-down::before {
  content: '\e948';
}

.q-icon-credit-card::before {
  content: '\e949';
}

.q-icon-comment::before {
  content: '\e94a';
}

.q-icon-cog-stroke::before {
  content: '\e94b';
}

.q-icon-cloud-upload::before {
  content: '\e94c';
}

.q-icon-cog-fill::before {
  content: '\e94d';
}

.q-icon-close::before {
  content: '\e94e';
}

.q-icon-clock-stroke::before {
  content: '\e94f';
}

.q-icon-checkbox-square-multiply-non::before {
  content: '\e950';
}

.q-icon-check::before {
  content: '\e951';
}

.q-icon-change-list::before {
  content: '\e952';
}

.q-icon-chain::before {
  content: '\e953';
}

.q-icon-cart::before {
  content: '\e954';
}

.q-icon-calendar::before {
  content: '\e955';
}

.q-icon-calendar-refresh::before {
  content: '\e956';
}

.q-icon-calendar-clock::before {
  content: '\e957';
}

.q-icon-book-fill::before {
  content: '\e96b';
}

.q-icon-bell::before {
  content: '\e958';
}

.q-icon-bell-ring::before {
  content: '\e959';
}

.q-icon-attention-mark::before {
  content: '\e95a';
}

.q-icon-attach-fill::before {
  content: '\e95b';
}

.q-icon-arrow-up::before {
  content: '\e95c';
}

.q-icon-arrow-right::before {
  content: '\e95d';
}

.q-icon-arrow-left::before {
  content: '\e95e';
}

.q-icon-arrow-down::before {
  content: '\e95f';
}

.q-icon-alert-stroke::before {
  content: '\e960';
}

.q-icon-archive-fill::before {
  content: '\e96a';
}

.q-icon-archive-arrow-down::before {
  content: '\e961';
}

.q-icon-alert-fill::before {
  content: '\e962';
}

.q-icon-account::before {
  content: '\e963';
}

.q-icon-account-settings::before {
  content: '\e964';
}

.q-icon-account-group::before {
  content: '\e965';
}

.q-icon-account-group-web::before {
  content: '\e966';
}

.q-icon-account-couple-fill::before {
  content: '\e967';
}

.q-icon-account-check-fill::before {
  content: '\e968';
}
