@import './components/QSliderButton/q-slider-button';
@import './components/QSliderCaptions/q-slider-captions';

.q-slider {
  --box-shadow-line: inset 1px 1px 2px rgb(var(--color-rgb-blue) / 20%),
    inset -1px -1px 1px rgb(var(--color-rgb-white) / 70%);

  position: relative;
  width: 100%;
  padding-top: 4px;

  &__path {
    position: relative;
    width: 100%;
    height: 8px;
    cursor: pointer;
    background-color: var(--color-tertiary-gray);
    border-radius: 4px;
    box-shadow: var(--box-shadow-line);
  }

  &__bar {
    position: relative;
    left: 0;
    z-index: 1;
    height: 8px;
    background-color: rgb(var(--color-rgb-primary) / 32%);
    border-radius: 3px;
  }

  &__steps {
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__step {
    width: 4px;
    height: 8px;
    background-color: var(--color-tertiary-gray-light);
    box-shadow: 1px 0 1px rgb(var(--color-rgb-blue) / 20%),
      -1px 0 1px rgb(var(--color-rgb-white) / 70%);

    &:first-child,
    &:last-child {
      visibility: hidden;
    }
  }

  &_is-disabled {
    .q-slider__path {
      cursor: default;
    }

    .q-slider__bar {
      background-color: rgb(var(--color-tertiary-gray-ultra-darker-rgb) / 32%);
    }
  }
}
