.q-button {
  --box-shadow-default: 4px 4px 8px rgb(var(--color-rgb-blue) / 40%),
    1px 1px 3px rgb(var(--color-rgb-blue) / 40%);
  --box-shadow-pressed: 1px 1px 3px rgb(var(--color-rgb-blue) / 40%);
  --color-rgb-gray: 29 29 27;

  box-sizing: border-box;
  display: inline-block;
  flex-shrink: 0;
  max-height: 40px;
  padding: 12px 40px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: var(--color-tertiary-white);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-base);
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: var(--color-primary);
  background-image: var(--gradient-primary);
  border: 1px solid transparent;
  border-radius: var(--border-radius-base);
  outline: none;
  box-shadow: var(--box-shadow-default);
  transition: background-color 0.1s;
  appearance: none;

  .q-icon-reverse {
    --icon-size: 24px;

    position: absolute;
    top: calc(50% - var(--icon-size) / 2);
    left: calc(50% - var(--icon-size) / 2);
    font-size: var(--icon-size);
    transform-origin: calc(var(--icon-size) / 2);
    animation: reverse-icon-rotating 2s linear infinite;
  }

  & + & {
    margin-left: 16px;
  }

  &:focus {
    outline: none;
  }

  &:active {
    color: rgb(var(--color-rgb-white) / 64%);

    &.q-button_theme_secondary {
      color: var(--color-primary-darker);
    }
  }

  &.focus-visible,
  &:hover:not(&_loading),
  &:active:not(&_loading),
  &_disabled,
  &_theme_secondary,
  &_theme_link {
    background-image: none;
  }

  &:active:not(&_loading, &_theme_link) {
    box-shadow: var(--box-shadow-pressed);
  }

  &.focus-visible {
    background-color: var(--color-primary-darker);
  }

  &_theme {
    &_secondary {
      color: var(--color-primary);
      background-color: var(--color-tertiary-gray-light);

      &.focus-visible {
        background-color: var(--color-tertiary-gray-light);
        border-color: var(--color-primary);

        &:active {
          border-color: var(--color-primary-darker);
        }
      }

      &:hover,
      &:active {
        background-color: var(--color-tertiary-gray);
      }

      &:active {
        color: var(--color-primary-darker);

        &.q-button_disabled {
          color: rgb(var(--color-rgb-gray) / 64%);
        }
      }

      &.q-button_loading,
      &.q-button_loading:hover {
        color: var(--color-primary-darker);
        background-color: var(--color-tertiary-gray-light);
        background-image: none;
      }
    }

    &_link {
      color: var(--color-primary-blue);
      background-color: transparent;
      box-shadow: none;

      &:hover {
        color: rgb(var(--color-rgb-gray) / 96%);
      }

      &:active {
        color: var(--color-primary);
        box-shadow: none;
      }

      &.focus-visible {
        text-decoration: underline;
        background-color: transparent;

        &.q-button_type_icon {
          text-decoration: none;
          border-color: var(--color-primary-blue);

          &:hover {
            border-color: rgb(var(--color-rgb-gray) / 96%);
          }

          &:active {
            border-color: var(--color-primary);
          }
        }
      }

      &.q-button_disabled,
      &.q-button_disabled:hover {
        background-color: transparent;
        box-shadow: none;
      }

      &.q-button_loading,
      &.q-button_loading:hover {
        color: var(--color-primary-blue);
        background-color: transparent;
        background-image: none;
        box-shadow: none;
      }
    }
  }

  &_disabled,
  &_disabled:active,
  &_disabled:hover {
    color: rgb(var(--color-rgb-gray) / 64%);
    cursor: not-allowed;
    background-color: var(--color-tertiary-gray);
    background-image: none;
    box-shadow: var(--box-shadow-pressed);
  }

  &_loading,
  &_loading:active,
  &_loading:hover {
    color: rgb(var(--color-rgb-white) / 64%);
    cursor: progress;
    background-color: var(--color-primary);
    background-image: var(--gradient-primary);
    box-shadow: var(--box-shadow-default);

    .q-button__inner {
      margin-left: 0;
      visibility: hidden;
    }
  }

  &_type_icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 7px;
    font-size: 24px;
  }

  &_circle {
    border-radius: 50%;
  }
}

@keyframes reverse-icon-rotating {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
