.q-switch {
  --main-switch-color: var(--color-primary);

  position: relative;
  display: block;
  width: 40px;
  overflow: hidden;
  cursor: pointer;
  background: var(--color-tertiary-gray-ultra-light);
  border-radius: 12px;
  box-shadow: 4px 4px 8px rgb(174 174 192 / 40%),
    1px 1px 3px rgb(174 174 192 / 40%);

  &__checkbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: 0;
    outline: none;
    opacity: 0;
  }

  &__wrapper {
    width: 100%;
    background-color: var(--main-switch-color);
    border-radius: 12px;
    transition: transform 0.2s ease-out;
    transform: translateX(calc(-100% + 20px));
  }

  &__handle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-left: auto;
    background-color: var(--color-tertiary-gray-ultra-light);
    border: 2px solid var(--main-switch-color);
    border-radius: 12px;
    transition: width 0.1s ease-out;

    .q-icon-reverse {
      font-size: 12px;
      color: var(--main-switch-color);
      animation: rotating 2s linear infinite;
    }
  }

  &_disabled {
    --main-switch-color: var(--color-tertiary-gray-ultra-darker);

    cursor: not-allowed;
    box-shadow: var(--box-shadow-pressed);
  }

  &_active {
    .q-switch__wrapper {
      transform: translateX(0);
    }

    &:active:not(.q-switch_disabled, .q-switch_loading) {
      .q-switch__handle {
        width: 22px;
      }
    }
  }

  &_loading {
    cursor: progress;
  }

  &:focus,
  &.focus-visible {
    outline: none;
  }

  &:active:not(&_disabled, &_loading, &_active) {
    .q-switch__wrapper {
      transform: translateX(calc(-100% + 22px));
    }

    .q-switch__handle {
      width: 22px;
    }
  }

  &:focus-visible:not(&_disabled),
  &.focus-visible:not(&_disabled) {
    --main-switch-color: var(--color-primary-darker);
  }
}
