.q-cascader-dropdown {
  &__wrapper {
    display: flex;
    align-items: flex-start;

    &_animation {
      &-enter-active,
      &-leave-active {
        transition: opacity 0.25s var(--transition-spline-base),
          transform 0.25s var(--transition-spline-base);
      }

      &-enter-from,
      &-leave-to {
        opacity: 0;
        transform: translateX(8px);
      }
    }
  }
}
