.q-drawer-content {
  height: 100%;

  &__header {
    padding-right: 56px;
    padding-bottom: 32px;
  }

  &__title {
    font-size: 20px;
    font-weight: 800;
    line-height: 25px;
    color: var(--color-primary-black);
    word-break: break-word;
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 0;
    font-size: 32px;
    color: var(--color-primary-blue);
    background-color: transparent;
    border: none;

    &:hover,
    &.focus-visible {
      color: var(--color-primary-black);
    }
  }

  &__body {
    padding-right: 24px;
  }

  &__actions {
    display: flex;
  }
}
