.q-drawer-content {
  position: relative;
  height: 100%;

  &__title {
    margin: 24px 56px 32px 24px;
    font-size: 20px;
    font-weight: 800;
    line-height: 25px;
    color: var(--color-primary-black);
    word-break: break-word;
  }

  &__close {
    position: absolute;
    top: -8px;
    right: 16px;
    padding: 0;
    font-size: 32px;
    color: var(--color-primary-blue);
    background-color: transparent;
    border: none;

    &:hover,
    &.focus-visible {
      color: var(--color-primary-black);
    }
  }

  &__body {
    height: 100vh;
    padding-left: 24px;
  }
}
