.q-date-picker-date-panel {
  &__heading {
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
    color: #adb5bd;
  }

  &__calendar {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #343a40;
    text-align: center;
  }

  &__cell {
    width: 32px;
    height: 32px;
    padding: 0;
  }

  &__row {
    margin: 2px 0;
  }

  &__name,
  &__date {
    display: grid;
    place-items: center;
    width: 24px;
    height: 24px;
    margin: 0 auto;
  }

  &__date {
    cursor: pointer;

    &:hover {
      color: #f8f9fa;
      background-color: #1c7ed6;
      border-radius: 4px;
    }

    &_additional {
      color: #868e96;
    }
  }
}
