.q-tab-pane {
  --tab-pane-width: auto;
  --shadow-small: 1px 1px 3px rgb(var(--color-rgb-blue) / 40%);
  --shadow-large: 4px 4px 8px rgb(var(--color-rgb-blue) / 40%),
    1px 1px 4px rgb(var(--color-rgb-blue) / 40%);

  &:not(:last-child) {
    margin-right: 1px;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__btn {
    flex-grow: 1;
    width: var(--tab-pane-width);
    padding: 11px 24px;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-base);
    line-height: 18px;
    color: var(--color-primary-blue);
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    background-color: var(--color-tertiary-gray-light);
    border: none;
    outline: none;
    box-shadow: var(--shadow-small);

    &:hover {
      color: var(--color-primary-black);
      background-color: var(--color-tertiary-gray);
      box-shadow: var(--shadow-large);
    }

    &.focus-visible {
      color: var(--color-primary-black);
      background-color: var(--color-tertiary-gray-light);
      outline: 1px solid var(--color-primary-blue);
      box-shadow: var(--shadow-large);
    }

    &_active {
      box-shadow: var(--shadow-small);

      &,
      &:hover,
      &.focus-visible {
        color: var(--color-primary-black);
        background-color: var(--color-tertiary-gray-ultra-light);
      }
    }

    &_disabled {
      cursor: not-allowed;

      &,
      &:hover,
      &.focus-visible {
        color: rgb(var(--color-rgb-gray) / 64%);
        background-color: var(--color-tertiary-gray);
        box-shadow: var(--shadow-small);
      }
    }
  }

  &:first-child &__btn {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
  }

  &:last-child &__btn {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }

  &__description {
    width: var(--tab-pane-width);
    margin-top: 8px;
    font-size: 10px;
    font-weight: var(--font-weight-base);
    line-height: 12px;
    color: rgb(var(--color-rgb-gray) / 32%);
  }
}
