@import './QCascaderInput/q-cascader-input';
@import './QCascaderDropdown/q-cascader-dropdown';
@import './QCascaderColumn/q-cascader-column';
@import './QCascaderRow/q-cascader-row';
@import './QCascaderTags/q-cascader-tags';

.q-cascader {
  position: relative;
  display: inline-flex;
  width: 100%;
  min-height: 40px;
  vertical-align: middle;

  &__dropdown_animation {
    &-enter-active,
    &-leave-active {
      transition: opacity var(--transition-spline-base) 0.25s;

      .q-cascader-column {
        transition: margin-top var(--transition-spline-base) 0.25s;
      }
    }

    &-enter-from,
    &-leave-to {
      opacity: 0%;

      .q-cascader-column {
        margin-top: -8px;
      }
    }
  }
}
