.q-switcher {
  position: relative;
  display: block;
  width: 40px;
  overflow: hidden;
  cursor: pointer;
  background: var(--color-tertiary-gray-ultra-light);
  border-radius: 12px;
  box-shadow: 4px 4px 8px rgb(174 174 192 / 40%),
    1px 1px 3px rgb(174 174 192 / 40%);

  &__checkbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: 0;
    outline: none;
    opacity: 0;
  }

  &__wrapper {
    width: 100%;
    background-color: var(--color-primary);
    border-radius: 12px;
    transition: transform 0.2s ease-out;
    transform: translateX(calc(-100% + 20px));
  }

  &__slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-left: auto;
    background-color: var(--color-tertiary-gray-ultra-light);
    border: 2px solid var(--color-primary);
    border-radius: 12px;
    transition: width 0.1s ease-out;

    .q-icon-reverse {
      --icon-size: 12px;

      font-size: var(--icon-size);
      color: var(--color-primary);
      animation: rotating 2s linear infinite;
    }
  }

  &_disabled {
    cursor: not-allowed;
    box-shadow: var(--box-shadow-pressed);

    .q-switcher__wrapper {
      background-color: var(--color-tertiary-gray-ultra-darker);
    }

    .q-switcher__slider {
      border: 2px solid var(--color-tertiary-gray-ultra-darker);
    }
  }

  &_active {
    .q-switcher__wrapper {
      transform: translateX(0);
    }

    &:active:not(.q-switcher_disabled, .q-switcher_loading) {
      box-shadow: var(--box-shadow-pressed);

      .q-switcher__slider {
        width: 22px;
      }
    }
  }

  &_loading {
    cursor: progress;
  }

  &:focus,
  &.focus-visible {
    outline: none;
  }

  &:active:not(&_disabled, &_loading, &_active) {
    box-shadow: var(--box-shadow-pressed);

    .q-switcher__wrapper {
      transform: translateX(calc(-100% + 22px));
    }

    .q-switcher__slider {
      width: 22px;
    }
  }

  &:focus-visible:not(&_disabled),
  &.focus-visible:not(&_disabled) {
    .q-switcher__wrapper {
      background-color: var(--color-primary-darker);
      outline: none;
    }

    .q-switcher__slider {
      border: 2px solid var(--color-primary-darker);

      .q-icon-reverse {
        color: var(--color-primary-darker);
      }
    }
  }
}
