.q-dialog-content {
  position: relative;
  height: 100%;
  padding: 36px 32px 32px;

  &__close {
    position: absolute;
    top: 24px;
    right: 32px;
  }

  &__title {
    padding-right: 104px;
    font-size: 24px;
    font-weight: 800;
    line-height: 31px;
    color: var(--color-primary-black);
    word-break: break-word;
  }

  &__view {
    display: flex;
  }

  &__body {
    flex: 1;
    padding: 0 10px 10px 0;
    margin-top: 32px;
  }
}
