.q-dialog-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 36px;

  &__title {
    margin-right: 104px;
    margin-bottom: 24px;
    margin-left: 32px;
    font-size: 24px;
    font-weight: 800;
    line-height: 31px;
    color: var(--color-primary-black);
    word-break: break-word;
  }

  &__close {
    position: absolute;
    top: 24px;
    right: 32px;
    z-index: 2;
  }

  &__view {
    display: flex;
  }

  &__body {
    flex: 1;
    padding-right: 32px;
    padding-left: 32px;
  }
}
