.q-slider-captions {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  min-height: 20px;
  margin-top: 8px;

  &__item {
    padding: 0;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-base);
    line-height: var(--line-height-base);
    color: rgba(var(--color-rgb-gray), 0.32);
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    border: none;

    &-inner {
      display: inline-block;
    }

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }

    &:focus,
    &_active {
      color: var(--color-primary-black);
    }
  }

  &_is-disabled {
    cursor: not-allowed;

    .q-slider-captions__item {
      cursor: not-allowed;
    }
  }
}
