.q-table-t-body-row {
  position: relative;
  overflow: hidden;
  box-shadow: var(--table-box-shadow-base);

  .q-table-t-body-cell:first-child::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    display: block;
    width: 4px;
    content: '';
    background-color: var(--row-custom-border-color, transparent);
  }

  &:last-child {
    border-bottom-right-radius: var(--border-radius-base);

    &,
    .q-table-t-body-cell:first-child::after {
      border-bottom-left-radius: var(--border-radius-base);
    }
  }

  .q-table:not(.q-table_has-total) &:first-child {
    border-top-right-radius: var(--border-radius-base);

    &,
    .q-table-t-body-cell:first-child::after {
      border-top-left-radius: var(--border-radius-base);
    }
  }
}
