.q-table-t-body-cell {
  position: relative;
  vertical-align: middle;

  &::after,
  &::before {
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    width: 100%;
    height: calc(100% - 1px);
    content: '';
  }

  &::after {
    z-index: 5;
    box-shadow: var(--box-shadow-pressed);
  }

  &::before {
    z-index: 10;
    background-color: var(--color-tertiary-gray-light);
  }

  .q-table-t-body-row:last-child & {
    &:first-child {
      &::after,
      &::before {
        border-bottom-left-radius: var(--border-radius-base);
      }
    }

    &:last-child {
      &::after,
      &::before {
        border-bottom-right-radius: var(--border-radius-base);
      }
    }
  }

  .q-table:not(.q-table_has-total) .q-table-t-body-row:first-child & {
    &:first-child {
      &::after,
      &::before {
        border-top-left-radius: var(--border-radius-base);
      }
    }

    &:last-child {
      &::after,
      &::before {
        border-top-right-radius: var(--border-radius-base);
      }
    }
  }

  &_sticked {
    position: sticky;
    z-index: 20;

    &_right {
      &::after {
        box-shadow: 1px -1px 3px rgba(var(--color-rgb-white), 0.25),
          -2px 1px 3px rgba(var(--color-rgb-blue), 0.4);
      }
    }
  }

  &__container {
    position: relative;
    z-index: 15;
    display: flex;
    align-items: center;
    padding: 12px 16px 12px 24px;

    .q-table-t-body-cell:first-child & {
      padding-left: 16px;
    }
  }

  &__content {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-base);
    line-height: var(--line-height-base);
    color: rgba(var(--color-rgb-gray), 0.64);
    letter-spacing: var(--letter-spacing-base);
  }
}
