.q-table-t-head-cell {
  position: relative;
  vertical-align: bottom;

  .q-table_has-color-groups & {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      border-top-color: var(--group-color, var(--color-tertiary-gray-darker));
      border-top-style: solid;
      border-top-width: 4px;
    }
  }

  &_sticked {
    position: sticky;
    z-index: 20;
    background-color: var(--color-tertiary-gray-light);
    box-shadow: var(--box-shadow-pressed);

    &_right {
      box-shadow: 1px -1px 3px rgba(var(--color-rgb-white), 0.25),
        -2px 1px 3px rgba(var(--color-rgb-blue), 0.4);
    }
  }

  &__container {
    position: relative;
    z-index: 15;
    display: flex;
    align-items: flex-end;
    padding: 16px 16px 16px 24px;

    .q-table-t-head-cell:first-child & {
      padding-left: 16px;
    }
  }

  &__content {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-base);
    color: var(--color-primary-black);
    letter-spacing: var(--letter-spacing-base);

    &_ellipsis {
      display: -webkit-box;
      align-items: flex-end;
      width: auto;
      overflow: hidden;
      word-break: break-word;
      white-space: initial;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  &__sort-arrow {
    padding: 0;
    margin: 0;
    font-size: 24px;
    background-color: transparent;
    border: none;
    opacity: 0;

    &:focus {
      outline: none;
    }

    .q-table-t-head-cell_sorted &,
    &:hover,
    &.focus-visible {
      color: var(--color-primary-blue);
    }

    .q-table-t-head-cell_sorted &,
    .q-table-t-head-cell_sortable:hover &,
    &.focus-visible {
      opacity: 1;
    }
  }
}
