.q-table-t-body-cell {
  position: relative;
  vertical-align: middle;
  background-color: var(--color-tertiary-gray-light);

  .q-table-t-body-row:last-child & {
    &:first-child {
      border-bottom-left-radius: var(--border-radius-base);
    }

    &:last-child {
      border-bottom-right-radius: var(--border-radius-base);
    }
  }

  .q-table:not(.q-table_has-total) .q-table-t-body-row:nth-child(2) & {
    border-top-left-radius: var(--border-radius-base);
    border-top-right-radius: var(--border-radius-base);
  }

  &_sticked {
    position: sticky;
    z-index: 20;
    box-shadow: var(--box-shadow-pressed);

    &_right {
      box-shadow: 1px -1px 3px rgba(var(--color-rgb-white), 0.25),
        -2px 1px 3px rgba(var(--color-rgb-blue), 0.4);
    }
  }

  &__container {
    position: relative;
    z-index: 15;
    display: flex;
    align-items: center;
    padding: 12px 16px 12px 24px;

    .q-table-t-body-cell:first-child & {
      padding-left: 16px;
    }
  }

  &__content {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-base);
    line-height: var(--line-height-base);
    color: rgba(var(--color-rgb-gray), 0.64);
    letter-spacing: var(--letter-spacing-base);
  }
}

// // .q-table-t-head-cell_sticked.q-table-t-head-cell_sticked_left:nth-last-child(-n) {
// //   background-color: red;
// // }
// [class~='q-table-t-head-cell_sticked_left']:last-of-type {
//   background: #000;
// }
