@import './QTableEmpty/q-table-empty.scss';
@import './QTableContainer/q-table-container.scss';
@import './QTableT/q-table-t.scss';
@import './QTableTHead/q-table-t-head.scss';
@import './QTableTHead/q-table-t-head-cell.scss';
@import './QTableTTotal/q-table-t-total-cell.scss';
@import './QTableTTotal/q-table-t-total.scss';
@import './QTableTBody/QTableTBodyCell/q-table-t-body-cell.scss';
@import './QTableTBody/QTableTBodyRow/q-table-t-body-row.scss';
@import './QTableTBody/q-table-t-body.scss';

.q-table {
  --table-box-shadow-base: var(--box-shadow-pressed);
  --table-box-shadow-inverted: 1px -1px 3px rgba(var(--color-rgb-white), 0.25),
    -1px 1px 3px rgba(var(--color-rgb-blue), 0.4);

  text-align: left;
}
