.q-notification-cloud {
  position: relative;
  display: flex;
  align-items: center;
  width: 552px;
  min-height: 88px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 16px;
  overflow: hidden;
  background-color: var(--color-tertiary-gray-ultra-light);
  border-radius: var(--border-radius-base);
  box-shadow: var(--box-shadow-pressed);
  transition: opacity 0.3s, transform 0.3s;

  &__icon {
    position: absolute;
    top: 28px;
    left: 24px;
    font-size: 32px;

    .q-notification-cloud_type_success & {
      color: var(--color-secondary-green);
    }

    .q-notification-cloud_type_warning & {
      color: var(--color-secondary-yellow);
    }

    .q-notification-cloud_type_info & {
      color: rgba(var(--color-rgb-gray), 32);
    }

    .q-notification-cloud_type_error & {
      color: var(--color-secondary-orange);
    }
  }

  &__content {
    padding-right: 56px;
    padding-left: 80px;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-base);
    line-height: var(--line-height-base);
    color: var(--color-primary-black);
    letter-spacing: var(--letter-spacing-base);
  }

  &__close {
    position: absolute;
    top: 32px;
    right: 16px;
    padding: 0;
    font-size: 24px;
    color: var(--color-primary-blue);
    background-color: transparent;
    border: none;

    &:hover,
    &:focus {
      color: var(--color-primary-black);
      outline: none;
    }
  }
}
