@import './q-notification-cloud.scss';

.q-notification-box {
  position: fixed;
  top: 0;
  right: 16px;
  transition: all 0.8s ease;
}

.q-notification-box-enter-from,
.q-notification-box-leave-to {
  opacity: 0;
  transform: translateX(100%);
}

.q-notification-box-leave-active {
  position: absolute;
}
