.q-table-container {
  & > .q-scrollbar {
    & > .q-scrollbar__bar.q-scrollbar__bar_horizontal {
      right: 32px;
      left: 32px;
    }
  }

  &__wrapper {
    box-sizing: content-box;
    padding: 8px 32px 16px;
  }
}
