.q-checkbox {
  --checkbox-color-base: var(--color-primary-black);
  --checkbox-label-color: var(--checkbox-color-base);
  --checkbox-color-disabled: rgb(var(--color-rgb-gray) / 64%);
  --checkbox-background-color-base: var(--color-tertiary-gray-ultra-light);
  --checkbox-background-color-hover: var(--color-tertiary-gray);
  --checkbox-background-color-disabled: var(--color-tertiary-gray);
  --checkbox-mark-color-base: var(--color-accent-secondary-main);
  --checkbox-mark-color-disabled: rgb(var(--color-rgb-gray) / 64%);
  --checkbox-box-shadow-base: 1px 1px 3px rgb(var(--color-rgb-blue) / 40%);
  --checkbox-box-shadow-focus: 1px 1px 3px rgb(var(--color-rgb-blue) / 40%),
    inset 0 0 0 1px var(--color-accent-secondary-main);

  position: relative;
  display: inline-flex;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  line-height: 1;
  color: var(--checkbox-color-base);
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  outline: none;

  &__label {
    padding-left: 16px;
    font-size: var(--font-size-base);
    color: var(--checkbox-label-color);
    word-break: break-word;
    white-space: normal;

    .q-checkbox_disabled & {
      color: var(--checkbox-color-disabled);
      cursor: not-allowed;
    }

    &_size {
      &_regular {
        margin-top: 2px;
        font-size: 14px;
        line-height: 20px;
      }

      &_small {
        --checkbox-label-color: rgb(var(--color-primary-black) / 64%);

        margin-top: 5px;
        font-size: 10px;
        line-height: 14px;
      }
    }
  }

  &__input {
    position: relative;
    line-height: 0;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    outline: none;
  }

  &__inner {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    display: inline-block;
    width: 24px;
    height: 24px;
    overflow: hidden;
    background-color: var(--checkbox-background-color-base);
    border: none;
    border-radius: var(--border-radius-base);
    box-shadow: var(--checkbox-box-shadow-base);

    &:hover {
      background-color: var(--checkbox-background-color-hover);
    }

    &-icon {
      position: absolute;
      top: 4px;
      left: 4px;
      box-sizing: content-box;
      width: 16px;
      font-size: 16px;
      color: var(--checkbox-mark-color-base);
      text-align: center;
    }

    .q-checkbox_checked &,
    .q-checkbox__input_indeterminate & {
      &::after {
        opacity: 1;
      }
    }

    .q-checkbox__input_focus & {
      box-shadow: var(--checkbox-box-shadow-focus);
    }

    .q-checkbox_disabled & {
      cursor: not-allowed;
      background-color: var(--checkbox-background-color-disabled);

      &-icon {
        color: var(--checkbox-mark-color-disabled);
        cursor: not-allowed;
      }
    }

    .q-form-item_is-error & {
      &,
      .q-checkbox__input_focus {
        border: var(--border-error);
      }
    }
  }

  &__original {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: 0;
    outline: none;
    opacity: 0;
  }
}
