$input-default-background-color: #f8f9fa;
$input-default-border-color: #f8f9fa;
$input-default-text-color: #adb5bd;
$input-default-icon-color: #868e96;
$input-default-drop-shadow: 1px 1px 3px 0 #aeaec066, 4px 4px 8px 0 #aeaec066;
$input-hover-background-color: #f1f3f5;
$input-hover-border-color: #f1f3f5;
$input-hover-text-color: #adb5bd;
$input-hover-icon-color: #868e96;
$input-hover-drop-shadow: 1px 1px 3px 0 #aeaec066;
$input-focus-background-color: #fff;
$input-focus-border-color: #1c7ed6;
$input-focus-text-color: #adb5bd;
$input-focus-icon-color: #868e96;
$input-focus-drop-shadow: 0 0 0 0 #fff0;
$input-focus-filled-background-color: #fff;
$input-focus-filled-border-color: #1c7ed6;
$input-focus-filled-text-color: #343a40;
$input-focus-filled-icon-color: #1c7ed6;
$input-focus-filled-drop-shadow: 0 0 0 0 #fff0;
$input-hover-filled-background-color: #f1f3f5;
$input-hover-filled-border-color: #f1f3f5;
$input-hover-filled-text-color: #343a40;
$input-hover-filled-icon-color: #1c7ed6;
$input-hover-filled-drop-shadow: 1px 1px 3px 0 #aeaec066;
$input-filled-background-color: #f8f9fa;
$input-filled-border-color: #f8f9fa;
$input-filled-text-color: #343a40;
$input-filled-icon-color: #868e96;
$input-filled-drop-shadow: 1px 1px 3px 0 #aeaec066, 4px 4px 8px 0 #aeaec066;
$input-disabled-background-color: #e9ecef;
$input-disabled-border-color: #e9ecef;
$input-disabled-text-color: #adb5bd;
$input-disabled-icon-color: #adb5bd;
$input-disabled-drop-shadow: 1px 1px 3px 0 #aeaec066;
$brand-hue: 336;
$brand-white: #fff;
$brand-color-0: #fff0f6;
$brand-color-1: #ffe0ed;
$brand-color-2: #fcc0d8;
$brand-color-3: #faa3c6;
$brand-color-4: #f782b1;
$brand-color-5: #f0669d;
$brand-color-6: #e64787;
$brand-color-7: #d73374;
$brand-color-8: #c12563;
$brand-color-9: #a41e54;
$bg-lvl-3: #fff;
$bg-lvl-2: #f8f9fa;
$bg-lvl-1: #f1f3f5;
$bg-lvl-0: #e9ecef;
$bg-brand: #ffe0ed;
$bg-secondary: #d0ebff;
$bg-positive: #d3f9d8;
$bg-negative: #ffe8cc;
$bg-working: #fff9db;
$bg-waiting: #e3fafc;
$bg-service: #e5dbff;
$bg-gradient: linear-gradient(180deg, #de4b7a 0%, #4162f0 100%);
$brd-muted: #dee2e6;
$brd-default: #ced4da;
$brd-brand: #faa3c6;
$brd-secondary: #a5d8ff;
$brd-positive: #b2f2bb;
$brd-negative: #ffd8a8;
$brd-working: #ffec99;
$brd-waiting: #99e9f2;
$brd-service: #b197fc;
$fg-silent: #adb5bd;
$fg-muted: #868e96;
$fg-default: #343a40;
$fg-inverse: #f8f9fa;
$fg-brand: #d73374;
$fg-secondary: #1c7ed6;
$fg-positive: #37b24d;
$fg-negative: #f76707;
$fg-working: #f59f00;
$fg-waiting: #1098ad;
$fg-service: #7048e8;
$default: 1px 1px 3px 0 #aeaec066, 4px 4px 8px 0 #aeaec066;
$hover: 1px 1px 3px 0 #aeaec066;
$focus: 0 0 0 0 #fff0;
$gray-gray-0: #f8f9fa;
$gray-gray-1: #f1f3f5;
$gray-gray-2: #e9ecef;
$gray-gray-3: #dee2e6;
$gray-gray-4: #ced4da;
$gray-gray-5: #adb5bd;
$gray-gray-6: #868e96;
$gray-gray-7: #495057;
$gray-gray-8: #343a40;
$gray-gray-9: #212529;
$gray-gray-10: #1b1f22;
$red-red0: #fff5f5;
$red-red1: #ffe3e3;
$red-red2: #ffc9c9;
$red-red3: #ffa8a8;
$red-red4: #ff8787;
$red-red5: #ff6b6b;
$red-red6: #fa5252;
$red-red7: #f03e3e;
$red-red8: #e03131;
$red-red9: #c92a2a;
$pink-pink0: #fff0f6;
$pink-pink1: #ffdeeb;
$pink-pink2: #fcc2d7;
$pink-pink3: #faa2c1;
$pink-pink4: #f783ac;
$pink-pink5: #f06595;
$pink-pink6: #e64980;
$pink-pink7: #d6336c;
$pink-pink8: #c2255c;
$pink-pink9: #a61e4d;
$grape-grape0: #f8f0fc;
$grape-grape1: #f3d9fa;
$grape-grape2: #eebefa;
$grape-grape3: #e599f7;
$grape-grape4: #da77f2;
$grape-grape5: #cc5de8;
$grape-grape6: #be4bdb;
$grape-grape7: #ae3ec9;
$grape-grape8: #9c36b5;
$grape-grape9: #862e9c;
$violet-violet0: #f3f0ff;
$violet-violet1: #e5dbff;
$violet-violet2: #d0bfff;
$violet-violet3: #b197fc;
$violet-violet4: #9775fa;
$violet-violet5: #845ef7;
$violet-violet6: #7950f2;
$violet-violet7: #7048e8;
$violet-violet8: #6741d9;
$violet-violet9: #5f3dc4;
$indigo-indigo0: #edf2ff;
$indigo-indigo1: #dbe4ff;
$indigo-indigo2: #bac8ff;
$indigo-indigo3: #91a7ff;
$indigo-indigo4: #748ffc;
$indigo-indigo5: #5c7cfa;
$indigo-indigo6: #4c6ef5;
$indigo-indigo7: #4263eb;
$indigo-indigo8: #3b5bdb;
$indigo-indigo9: #364fc7;
$blue-blue0: #e7f5ff;
$blue-blue1: #d0ebff;
$blue-blue2: #a5d8ff;
$blue-blue3: #74c0fc;
$blue-blue4: #4dabf7;
$blue-blue5: #339af0;
$blue-blue6: #228be6;
$blue-blue7: #1c7ed6;
$blue-blue8: #1971c2;
$blue-blue9: #1864ab;
$cyan-cyan0: #e3fafc;
$cyan-cyan1: #c5f6fa;
$cyan-cyan2: #99e9f2;
$cyan-cyan3: #66d9e8;
$cyan-cyan4: #3bc9db;
$cyan-cyan5: #22b8cf;
$cyan-cyan6: #15aabf;
$cyan-cyan7: #1098ad;
$cyan-cyan8: #0c8599;
$cyan-cyan9: #0b7285;
$teal-teal0: #e6fcf5;
$teal-teal1: #c3fae8;
$teal-teal2: #96f2d7;
$teal-teal3: #63e6be;
$teal-teal4: #38d9a9;
$teal-teal5: #20c997;
$teal-teal6: #12b886;
$teal-teal7: #0ca678;
$teal-teal8: #099268;
$teal-teal9: #087f5b;
$green-green0: #ebfbee;
$green-green1: #d3f9d8;
$green-green2: #b2f2bb;
$green-green3: #8ce99a;
$green-green4: #69db7c;
$green-green5: #51cf66;
$green-green6: #40c057;
$green-green7: #37b24d;
$green-green8: #2f9e44;
$green-green9: #2b8a3e;
$lime-lime0: #f4fce3;
$lime-lime9: #5c940d;
$lime-lime8: #66a80f;
$lime-lime7: #74b816;
$lime-lime6: #82c91e;
$lime-lime5: #94d82d;
$lime-lime4: #a9e34b;
$lime-lime3: #c0eb75;
$lime-lime2: #d8f5a2;
$lime-lime1: #e9fac8;
$yellow-yellow0: #fff9db;
$yellow-yellow1: #fff3bf;
$yellow-yellow2: #ffec99;
$yellow-yellow3: #ffe066;
$yellow-yellow4: #ffd43b;
$yellow-yellow5: #fcc419;
$yellow-yellow6: #fab005;
$yellow-yellow7: #f59f00;
$yellow-yellow8: #f08c00;
$yellow-yellow9: #e67700;
$orange-orange0: #fff4e6;
$orange-orange1: #ffe8cc;
$orange-orange2: #ffd8a8;
$orange-orange3: #ffc078;
$orange-orange4: #ffa94d;
$orange-orange5: #ff922b;
$orange-orange6: #fd7e14;
$orange-orange7: #f76707;
$orange-orange8: #e8590c;
$orange-orange9: #d9480f;
