.q-fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.25s var(--transition-spline-base);
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

.q-fade-up {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.25s var(--transition-spline-base),
      transform 0.25s var(--transition-spline-base);
  }

  &-enter-from {
    opacity: 0;
    transform: translate3d(0, -16px, 0);
  }

  &-leave-to {
    opacity: 0;
    transform: translate3d(0, -16px, 0);
  }
}
