@import '../../../vars';

.q-input {
  --field-color-base: var(--color-primary-black);
  --field-color-placeholder: rgb(var(--color-rgb-gray) / 32%);
  --field-color-disabled: rgb(var(--color-rgb-gray) / 64%);
  --field-icon-color-base: var(--color-primary-blue);
  --field-icon-color-hover: var(--color-primary-black);
  --field-icon-color-inactive: rgb(var(--color-rgb-gray) / 64%);
  --field-background-color-base: var(--color-tertiary-gray-light);
  --field-background-color-hover: var(--color-tertiary-gray);
  --field-background-color-focus: var(--color-tertiary-gray-ultra-light);
  --field-background-color-disabled: var(--color-tertiary-gray);
  --field-box-shadow-base: -1px -1px 3px rgb(var(--color-rgb-white) / 25%),
    1px 1px 3px rgb(var(--color-rgb-blue) / 40%),
    4px 4px 8px rgb(var(--color-rgb-blue) / 40%),
    -4px -4px 12px var(--color-tertiary-white);
  --field-box-shadow-hover: -1px -1px 4px rgb(var(--color-rgb-white) / 25%),
    1px 1px 4px rgb(var(--color-rgb-blue) / 40%),
    4px 4px 8px rgb(var(--color-rgb-blue) / 40%),
    -4px -4px 8px rgb(var(--color-rgb-white) / 80%);
  --field-box-shadow-focus: -1px -1px 3px rgb(var(--color-rgb-white) / 25%),
    1px 1px 3px rgb(var(--color-rgb-blue) / 40%),
    inset -1px -1px 1px rgb(var(--color-rgb-white) / 70%),
    inset 1px 1px 2px rgb(var(--color-rgb-blue) / 20%);
  --field-box-shadow-disabled: -1px -1px 3px rgb(var(--color-rgb-white) / 25%),
    1px 1px 3px rgb(var(--color-rgb-blue) / 40%);

  position: relative;
  display: inline-block;
  width: 100%;
  height: 40px;

  &__inner {
    display: inline-block;
    width: 100%;
    height: 40px;
    padding: 0 16px;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-base);
    line-height: var(--line-height-base);
    color: $input-default-text-color;
    background-color: var(--field-background-color-base);
    border: none;
    border-radius: var(--border-radius-base);
    box-shadow: create-shadow($tokens, 'input', 'default', 'dropShadow');
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;
      appearance: none;
    }

    &::placeholder,
    &:placeholder-shown {
      color: var(--field-color-placeholder);
      text-overflow: ellipsis;
      opacity: 1;
    }

    /** disable default clear on IE */
    &::-ms-reveal,
    &::-ms-clear {
      display: none;
      width: 0;
      height: 0;
    }

    &:focus {
      outline: none;
    }

    .q-input_focused &,
    &.focus-visible {
      background-color: var(--field-background-color-focus);
      box-shadow: var(--field-box-shadow-focus);
    }

    &:hover {
      background-color: var(--field-background-color-hover);
      box-shadow: var(--field-box-shadow-hover);
    }

    .q-input_disabled & {
      padding-right: 40px;
      color: var(--field-color-disabled);
      cursor: not-allowed;
      background-color: var(--field-background-color-disabled);
      box-shadow: var(--field-box-shadow-disabled);
    }

    .q-input_suffix & {
      padding-right: 40px;
    }

    .q-form-item_is-error & {
      &,
      &.focus-visible {
        padding-left: 15px;
        border: var(--border-error);
      }
    }
  }

  &__suffix {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    text-align: center;
    pointer-events: none;
    transition: all 0.3s;
  }

  &__icon {
    width: 40px;
    font-size: 24px;
    line-height: 40px;
    color: var(--field-icon-color-inactive);
    text-align: center;

    &:not(:last-child) {
      display: none;
    }

    &.q-icon-close,
    &.q-icon-eye,
    &.q-icon-eye-close {
      color: var(--field-icon-color-base);
      pointer-events: all;
      cursor: pointer;

      &:hover,
      &.focus-visible {
        color: var(--field-icon-color-hover);
      }
    }
  }

  &__suffix-slot {
    pointer-events: all;
  }

  &__count {
    position: absolute;
    top: -24px;
    right: 0;
    margin-bottom: 2px;
    font-size: 10px;
    text-align: right;
  }
}
