name: Build and Deploy to Netlify
on:
  pull_request:
    branches: 
      - main
    tags-ignore:
      - 'v*.*'

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - run: yarn --frozen-lockfile
      - run: yarn build-storybook

      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v1.2
        if: startsWith(github.head_ref, 'dependabot/*') == false
        with:
          publish-dir: 'storybook-static'
          production-branch: main
          github-token: Qvant-lab:${{ secrets.GITHUB_TOKEN }}
          enable-commit-comment: true
          overwrites-pull-request-comment: true
          fails-without-credentials: false
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        timeout-minutes: 1
